body {
  background-image: url("../Images/toyBackground.png");
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main-container .main {
  background-color: #fff;
  opacity: 0.9;
  border: 2px solid red;
  padding: 10vh 2vw;
  text-align: center;
  margin-top: 25vh;
}
.main-container .main a {
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
.form-container {
  background-color: white;
  opacity: 0.9;
  border: 1px solid red;
  margin: 20vh auto;
  padding: 5px;
  max-width: 500px;
}
.form-container .login-form {
  padding: 3vw;
}
.form-container .login-form h3 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}
.form-container .login-form .submit-btn {
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
}
.form-container .back {
  color: red !important;
  cursor: pointer;
}
.detail-wrapper {
  padding: 0 !important;
  width: 95%;
  margin: 0 auto;
}
.detail-wrapper .detail-nav .nav-title {
  color: red;
  font-size: 24px;
  margin: 0 15px;
}
.detail-wrapper .detail-nav .nav-title:hover {
  text-decoration: none;
}
.detail-wrapper .product-wrapper {
  background-color: #fff;
  margin: 5vh 0;
  justify-content: space-between;
}
.detail-wrapper .product-wrapper .product-card {
  text-align: center;
}
.detail-wrapper .product-wrapper .product-list.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.product-wrapper .product-card .detailToy-btn {
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.detail-wrapper .profile-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  margin: 5vh 0;
}
.detail-wrapper .profile-content .profile-img {
  width: 30%;
}
.detail-wrapper .profile-content .profile-img img {
  width: 100%;
}
.detail-wrapper .profile-content .profile-detail {
  width: 40%;
  text-transform: uppercase;
  font-size: 30px;
}
.detail-wrapper .profile-content .profile-detail .profile-table th,
td {
  padding: 20px;
}
