body {
  background-image: url("../Images/toyBackground.png");
  height: 100%;
  width: 100%;
  overflow: auto;
}
h3 {
  text-align: center;
  color: red;
  padding: 5vh 0;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-container .main {
  background-color: #fff;
  opacity: 0.9;
  border: 2px solid red;
  padding: 10vh 2vw;
  text-align: center;
  margin-top: 25vh;
}
.main-container .main .redirect-link {
  margin-top: 20px;
}
.main-container .main .redirect-link a {
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.form-container {
  background-color: white;
  opacity: 0.9;
  border: 1px solid red;
  margin: 20vh auto;
  padding: 5px;
  max-width: 500px;
}
.form-container .login-form {
  padding: 3vw;
}
.form-container .login-form .submit-btn {
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
}
.form-container .back {
  color: red !important;
  cursor: pointer;
}
.detail-wrapper {
  padding: 0 !important;
  width: 95%;
  margin: 0 auto;
}
.detail-wrapper .detail-nav .nav-title {
  color: red;
  font-size: 24px;
  margin: 0 15px;
}
.detail-wrapper .detail-nav .nav-title:hover {
  text-decoration: none;
}
.detail-wrapper .product-wrapper {
  background-color: #fff;
  margin: 5vh 0;
  padding: 5vh 2vw;
}
.detail-wrapper .product-wrapper .product-card {
  text-align: center;
  margin: 5vh 0.2vw;
  position: relative;
}
.detail-wrapper .product-wrapper .product-list.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  justify-content: space-between;
}
.product-wrapper .product-card .detailToy-btn {
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.product-wrapper .product-card .price {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  color: red;
  font-weight: 500;
}
.profile-content-wrapper {
  background-color: #fff;
  margin: 5vh 0;
  padding: 5vh 2vw;
}
.detail-wrapper .profile-content-wrapper .profile-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.detail-wrapper .profile-content-wrapper .profile-content .profile-img {
  width: 30%;
}
.detail-wrapper .profile-content-wrapper .profile-content .profile-img img {
  width: 100%;
}
.detail-wrapper .profile-content-wrapper .profile-content .profile-detail {
  width: 50%;
  text-transform: uppercase;
  font-size: 2vw;
  padding: 2vh 2vw;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.detail-wrapper
  .profile-content-wrapper
  .profile-content
  .profile-detail
  .profile-table
  th,
td {
  padding: 20px;
}
.detail-product-wrapper {
  background-color: white;
  width: 95%;
  margin: 2vh auto;
  padding: 5vh 5vw;
}
.detail-product-wrapper .product-back {
  color: red;
}
.detail-product-wrapper .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-product-wrapper .product-detail .product-img img {
  width: 100%;
}
.detail-product-wrapper .product-detail .product-content {
  font-size: 2vw;
}
.detail-product-wrapper .product-detail .product-content .price-text,
.id-text {
  font-size: 1.2vw;
}
.detail-product-wrapper .product-detail .product-content button {
  font-weight: 500;
  width: 30%;
}
.cart {
  color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 0.5px solid red;
  background-color: white;
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
}
